*{
    margin: 0;
    padding: 0;
}
table{
    padding: 10px;
    font-size: 1.8em;
    text-align: center;
}
thead{
    background-color: black;
    color: white;
}
tr{
    border: 1px solid black;
}
th{
    padding: 10px;
}
td{
    border-bottom: 1px solid black;
    padding: 10px;
}
label{
    font-size: 1.4em;
}
input{
    font-size: 1.4em;
}
.excluir{
    font-size: 1.0em;
    background-color: rgb(168, 64, 64);
    color: white;
    padding: 10px;
}
.btn{
    font-size: 1.4em;
    margin-top: 10px;
    background-color: rgb(14, 87, 182);
    color: white;
    padding: 10px;
}
section{
    padding: 10px;
}

